/***
 **
    Tasks Styles
 **
 ***/
.task-input {
    background: transparent;
    border: 0px solid #ffffff;
    margin-left: -10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
    height: 30px;
}

/* Task Style */
.task-normal {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

.task-closed {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: line-through;
    border-bottom: 1px solid #DDD;
    color: gray;
    opacity: 0.5;
}
.task-progress {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    color: #000000;
}
.task-open {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    color: #000000;
}
.task-resolved {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    color: #000000;
}
.task-reopened {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    color: #000000;
}

/*  Label Style  */

.label-open {
    background-color: #ffffff;
    margin-right: 10px;
    display: none;
}

.label-resolved {
    background-color: #428bca;
    margin-right: 10px;
}

.label-progress {
    background-color: #f0ad4e;
    margin-right: 10px;
}

.label-closed {
    background-color: #808080;
    margin-right: 10px;
    display: none;
}

.label-reopened {
    background-color: #008000;
    margin-right: 10px;
}

.label-blocker {
    background-color: #DD1144;
    margin-right: 10px;
}

.label-critical {
    background-color: #c7254e;
    margin-right: 10px;
}

.label-major {
    background-color: #e67e22;
    margin-right: 10px;
}

.label-minor {
    background-color: #00c0ef;
    margin-right: 10px;
}

.label-trivial {
    background-color: #55acee;
    margin-right: 10px;
}
